{% extends '::base.html.twig' %}

{% block body %}
    <h1>{{ 'payment.paypal.process.title'|trans() }}</h1>

    <p>{{ 'payment.paypal.process.description'|trans() }}</p>

    <form id="form_paypal_wps" action="{{ data.serverUrl }}">
        {% for key,value in data.data %}
            <input type="hidden" name="{{ key }}" value="{{ value }}"/>
        {% endfor %}
        <input type="submit" class="btn btn-primary" value="{{ 'payment.paypal.process.submit_button'|trans() }}">
    </form>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/lpwebpayment/js/process_paypal.js') }}"></script>
{% endblock %}